/* Space out content a bit */
body {
  /*background-size: 100%;*/
  padding-bottom: 20px;
  background-color: black;
  background-repeat: repeat-y;
  background-repeat: repeat-x;
}

/*body {
  background: url('');
}*/


body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /*background-image: url("/../app/images/background.png");*/
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: 100%;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px) ;
  -ms-filter: blur(5px);
  filter: blur(5px);
}

body.questions #bgVideo {
  display: none;
}

body.askquestion #bgVideo {
  display: none;
}

body.register #bgVideo {
  display: none;
}

body.question #bgVideo {
  display: none;
}

body.aboutus #bgVideo {
  display: none;
}

body.unanswered #bgVideo {
  display: none;
}

body.questions:after {
/*background: url("/../app/images/background.png");*/
}

body.askquestion:after {
/*background: url("/../app/images/background.png");*/
}

body.register:after {
/*background: url("/../app/images/background.png");*/
}

body.aboutus:after {
/*background: url("/../app/images/background.png");*/
}

body.question:after {
/*background: url("/../app/images/background.png");*/
}




/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
/*  padding-left: 15px;
  padding-right: 15px;*/
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/*/* Customize container */
/*@media (min-width: 768px) {
  .container {
    max-width: 1100px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}*/

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


#logo {
   padding-top: 10px;
   padding-bottom: 5px;
   width: 220px;
   height: auto;

    -webkit-filter: invert(100%) hue-rotate(190deg);
  
}

#logo:hover {
  opacity: 0.8;
/*  background-color: #E6E6E6;*/
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
   /*...and now for the proper property */
  transition:.5s;
}

#logo-big {
  padding-top: 150px;
  padding-left: 20%;
  padding-right: auto;
  width: 75%;
  height: auto;
  -webkit-filter: invert(100%) hue-rotate(190deg);


}

#question-snippets {
  list-style-type: none;
  padding-top: 40px;
}

#footer-text {
  text-align: right;
  padding-right: 20px;
}

#question-title {
/*  padding-left: 20px;*/
  font-weight: bold;
  font-size: 30px;
  color: black;
  text-decoration: none;
  opacity: 0.6;
}

#question-title:hover {
/*  background-color: black;*/
  color: white;
  opacity: 1;

   -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
}

#question-author {
  padding-left: 20px;
}

#question-lastreply {
  padding-left: 208px;
}

#spacer {
  min-height: 500px;
  width: 100%;

}

#spacer2 {
  min-height: 500px;
  background-color: white;
  margin: 0;
  padding: 0;
}

#ask-question-form {
  padding-top: 10px;
  text-align: center;
}

#question-button {
  padding: 10px 15px;
  background: #4479BA;
  color: #FFF;
  opacity: 1;
}

#input {
  border: 1px solid #000000; 
  border-color: grey;
  text-align: center;
  width: 500px;
  height: 45px;
  opacity: 0.5;
}

#input:hover {
  border: 1px solid #000000; 
/*  border-color: grey;*/
  text-align: center;
  width: 500px;
  opacity: 0.7;
  height: 45px;

    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

#input-description {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
  text-align: center;
  border: 1px solid #000000; 
  height: 200px;
  width: 500px;
  opacity: 0.5;
}

#input-description:hover {
  text-align: center;
  border: 1px solid #000000; 
  height: 200px;
  width: 500px;
  opacity: 0.7;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

#ask-question-title {
  color: grey;
  text-align: center;
  padding-bottom: 20px;
}

#questions-page {
  background-color: black;
  background-size: 100%;
  background-repeat: no-repeat; 
  background-position: center;
  position: relative;
  top: -22px;
}

.ask-question-form {
  opacity: 0.3;
}

.container {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

#tagline {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

#home-ask-button {
  text-align: center;
  opacity: 0.4;
  border: none;
}

#home-ask-button:hover {
  text-align: center;
  opacity: 0.8;
  color: grey;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

#button-section {
  text-align: center;
  padding-bottom: 50px;
}

#navbar-custom {
  color: grey;
  font-size: 13px;
  /*background-color: black;*/
}

#navbar-custom:hover {

  opacity: 0.5;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.question-display {
  padding-left: 250px;
  padding-right: 250px;
}

.well {
  text-align: center;
  min-height: 150px;
  max-height: 200px;
/*  border-radius: 25px;*/
  border-color: black;
  background-color: grey;
  opacity: 0.7;
}

#questions-title {
  color: grey;
  padding-top: 40px;
  text-align: center;
}

ul {
  padding: 0;
}

.jumbotron {
  border: solid;
/*  border-radius: 25px;*/
}

#main-question-part {
  padding-top: 10px;
  padding-left: 300px;
  padding-right: 300px;
  opacity: 0.7;
}

/*.main-navbar {

  opacity: 0.9;
}*/

#round-images {
  max-height: 175px;
  -webkit-filter: none;
}

#round-images:hover {
  -webkit-filter: grayscale(100%);
}

.img-circle {
  border: solid;
  border-color: white;
  margin: 0;
}

#james-img {
  color: white;
  text-align: center;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

#craig-img {
  color: white;
  text-align: center;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

#anna-img {
  color: white;
  text-align: center;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

#pablo-img {
  color: white;
  text-align: center;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

#about-us-images {
  display: inline;
}

.nav-pills {
  padding-top: 10px;
}

#created-at {
  padding-left: 10px;
  float: right;
  text-align: left;
  border: solid;
  border-color: black;
/*  border-radius: 10px;*/
  border-width: 2px;
  padding-right: 10px;
}

/*#questions-page {
  margin: 0;
  padding: 0;
  background-color: white;
}*/


#code-snippet-part {
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 20px;
  opacity: 0.7;
  min-height: 10px;
}

.alert {
  padding-top: 20px;
}

#snippet2 {
  text-align: center;
  background-color: grey;
  opacity: 0.7;
}

video#bgVideo {
 opacity: 0.5;
 padding-top: 50px;
  position: absolute; // Play the video in full screen mode
  top: 0px; 
  left: 0px; 
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;

/*-webkit-filter: blur(4px) grayscale(100%);
  -moz-filter: blur(5px);
  -o-filter: blur(5px) ;
  -ms-filter: blur(5px);
  filter: blur(7px) ;*/
}


#question-github-link {
  text-align: center;
  background-color: orange;
  padding-top: 15px;
  padding-bottom: 15px;
}

#question-page {
  background-color: black;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
}

#github-link-wrapper {
  padding-left: 300px;
  padding-right: 300px;
}

