<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="about-us-images">
	<div id="james-img">
		<a href="https://github.com/jamesascarter" target="_blank"><img id="round-images" src="app/images/james.jpeg" class="img-circle"></a>
		<h2>James Carter</h2>
	</div>

	<div id="craig-img">
		<a href="https://github.com/craigh44" target="_blank"><img id="round-images" src="app/images/craig.jpeg" class="img-circle"></a>
		<h2>Craig Horsborough</h2>
	</div>

	<div id="anna-img">
		<a href="https://github.com/annaschechter" target="_blank"><img id="round-images" src="app/images/anna.jpeg" class="img-circle"></a>
		<h2>Anna Jerofejeva</h2>
	</div>

	<div id="pablo-img">
		<a href="https://github.com/galicians" target="_blank"><img id="round-images" src="app/images/pablo.jpeg" class="img-circle"></a>
		<h2>Pablo Portabales</h2>
	</div>
</div>