<br>
<br>
<br>
<br>
<br>
<br>

<div id="about-us-images">
	<ul>
			<li id="james-img">
			<a href="https://github.com/jamesascarter" target="_blank"><img id="round-images" src="app/images/james.jpeg" class="img-circle"></a>
				<h2>James Carter</h2>
				<!-- <p>A little bit about James</p> -->
		</li>


	<li id="craig-img">
		<a href="https://github.com/craigh44" target="_blank"><img id="round-images" src="app/images/craig.jpeg" class="img-circle"></a>
		<h2>Craig Horsborough</h2>
		<!-- <p>A little bit about Craig</p> -->
</li>

	<li id="anna-img">
		<a href="https://github.com/annaschechter" target="_blank"><img id="round-images" src="app/images/anna.jpeg" class="img-circle"></a>
		<h2>Anna Jerofejeva</h2>
		<!-- <p>A little bit about Anna</p> -->
</li>

	<li id="pablo-img">
		<a href="https://github.com/galicians" target="_blank"><img id="round-images" src="app/images/pablo.jpeg" class="img-circle"></a>
		<h2>Pablo Portabales</h2>
		<!-- <p>A little bit about Pablo</p> -->
</li>
</ul>
</div>