
<section class="ask-questions-page">
  <h2 id="ask-question-title">Post a Question</h2>

  <div ng-controller="AskquestionsCtrl">

    <form name="myform" id="ask-question-form">

      <input id="input" ng-required="true" type="text" ng-model="title" placeholder="Title">
      </br>
        </br>
      <textarea ng-required="true" rows="4" cols="30" id="input-description"  type="text" ng-model="description" placeholder="Description"></textarea>
      </br></br>
      <input ng-required="true" id="input" type="text" ng-model="codesnippet" placeholder="Code Snippet">
      </br></br>
      <input ng-required="true" id="input" type="text" ng-model="github" placeholder="Github Repository">
  </br>
  </br>
      <button id="home-ask-button" value="submit" data-ng-click="addQuestion()">Submit</button>

    </form>
    <br>
    <br>
  </div>
</section>