
<div id="main-question-part">
  <div class="question-main">
    <h1>{{question.title}}</h1>
    <br>
    <br>
    <p id="clone-repo-title">Question:<p>
      <p>{{question.description}}</p>
      <br>
        <p id="clone-repo-title"> Code Snippet:  </p>
        <pre><code class="ruby hljs" style="font-size: 13px; margin-top: 20px; padding: 4px;"> 
          {{question.codeSnippet}}
        </code></pre>
        <br>

  <p id="clone-repo-title">Clone this GitHub repo: <br></p>
    <p><a href="{{question.githubRepo}}">{{question.githubRepo}}</a></p>
    <br>
    <br>
    <br>

  <div style="float:left; padding: 10px; vertical-align: middle;"><a href="" class="btn btn-success">{{question.views}}</a><p>Views</p></div>
  <div ng-click="upVoteQuestion(question)" style="float:left; padding: 10px;vertical-align: middle;"><a href="" class="btn btn-success">{{question.votes}}</a><p>Votes</p></div>
              <div style="float:left; padding: 10px;vertical-align: middle;"><a href="" class="btn btn-success">{{replies.length}}</a><p>Videos</p></div>
  <p id="author-question">Author: <span id="author-name">{{username}}</span></p>
    <br>
  <p id="created-at">Posted {{question.createdAt|timeago}}</p>


  <!-- <li style="float:right"><p>Votes<span class="badge">{{question.votes}}</span></p></li> -->
  <!-- <li style="float:right"><p>Answers: <span class="badge">{{replies.length}}</span></p></li> -->
<!--   <li style="float:right"><p>Author: {{username}}<span class="badge"></span></p></li> -->
<!--   <li style="float:right"><p>Posted {{question.createdAt|timeago}}<span class="badge"></span></p></li> -->
  <!-- <li style="float:right"><p>Views: {{question.views}}<span class="badge"></span></p></li> -->
<!-- </ul> -->
    </div>
  <div>
</div>
<!-- <ul class="nav nav-pills"> -->

  <!-- <button class="btn btn-default" id="downloadExtension" type="button">Download Extension</button> -->
  <br>
  <center><button class="btn btn-default" id="reply" type="button">Reply</button></center>
<br />


<!-- <ul class="nav nav-pills"> -->

<!--     <div style="float:left; padding: 10px; vertical-align: middle;"><a href="" class="btn btn-success">{{question.views}}</a><p>Views</p></div>
    <div ng-click="upVoteQuestion(question)" style="float:left; padding: 10px;vertical-align: middle;"><a href="" class="btn btn-success">{{question.votes}}</a><p>Votes</p></div>
    <div style="float:left; padding: 10px;vertical-align: middle;"><a href="" class="btn btn-success">{{replies.length}}</a><p>Videos</p></div> -->

<!-- hidden data for extension -->
  <input class="btn btn-default" id="currentUser" type="hidden" value="james">
  <input class="btn btn-default" id="numAnswers" type="hidden" value={{replies.length}}>
  <input class="btn btn-default" id="questionId" type="hidden" value={{question.id}}> 
<!-- </div> -->
<!--   <button class="btn btn-default" id="downloadExtension" type="hidden">Download Extension</button> -->
<!--   <button class="btn btn-default" id="reply" type="button">Reply</button> -->
<!-- <br /> -->
<!-- <div ng-cloak class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>{{question.githubRepo}}</h4> -->
<!--   <p> <a href="#" class="alert-link">The project codebase can be found in this repository.</a>.</p> -->

<section id="replies-section">
  <h1>Answers</h1>
    <ul id="videos">
      <li ng-repeat="reply in replies">
  <!--       <p>{{reply.link}}</p> -->
        <video width="500" height="375" controls ng-src={{reply.link}} ></video>
        <p>Posted: {{reply.createdAt|timeago}}<p>
          <p >Author: {{username}}<p>
      </li>
    </ul>
  </div>
</section>


  <br />
<!--   <div class="alert alert-dismissable alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>{{question.githubRepo}}</h4>
    <p> <a href="#" class="alert-link">The project codebase can be found in this repository.</a>.</p>
  </div>
  </div>
 -->
  <br />

 <!--  <br />
<!--   <br /> -->
 <!--  <div class="alert alert-dismissable alert-warning"> -->
 <!-- <div id="github-link-wrapper">
   <div id="question-github-link">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h4>{{question.githubRepo}}</h4>
      <p> <a href="#" >The project codebase can be found in this repository.</a></p>
    </div> -->
   <!--  </div> -->
  </div>
</div>
