<h3>Top questions</h3>


    <div  ng-controller="AllquestionsCtrl">


      Order By:
      <select ng-model="sortorder" class="input-small">
          <option selected value="-views">Views</option>
          <option value="-votes">Votes</option>
      </select>

<input type="text" style="float:right;" ng-model="query" placeholder="Search">
      <ul class="thumbnails">
        <li ng-repeat="question in questions | orderBy:sortorder| filter:query">
          <div class="row question">
            <div class="well span9">
              <div style="float:left; padding: 10px; vertical-align: middle;"><a href="" class="btn btn-success">{{question.views}}</a><p>Views</p></div>
              <div ng-click="upVoteQuestion(question)" style="float:left; padding: 10px;vertical-align: middle;"><a href="" class="btn btn-success">{{question.votes}}</a><p>Votes</p></div>
              <div style="float:left; padding: 10px;vertical-align: middle;"><a href="" class="btn btn-success">{{question.numberAnswers}}</a><p>Videos</p></div>

              <a href="#/question/{{question.id}}" ng-click="upViewQuestion(question)" class="well-title">{{question.title}}</a>
              <h6 style="margin-top:-10px">{{question.creatorName}}</h6>
              <span>Author: {{question.creatorUser}}</span><br/>
               <p>{{question.lastReply}}</p>
               <br />
              <div class="row">
              <div ng-repeat="tag in question.tags">
                <a style="float:right; padding: 5px; margin: 5px; vertical-align: middle;" href="" class="btn btn-primary btn-xs">{{tag.name}}</a>
              </div>


            </div>
            </div>
        </li>
      </ul>

    </div>




