
</br>
  <div id="main-question-part">
    <div class="well">
      <h1>{{question.title}}</h1>
       <p>{{question.description}}</p>
    </div>
  </div>
<!-- <ul class="nav nav-pills"> -->
  <!-- <li class="active"><a href="#">Votes<span class="badge">{{question.votes}}</span></a></li> -->
<!--   <li style="float:right"><a href="#">Answers:<span class="badge">{{question.numberAnswers}}</span></a></li> -->
 <!--  <li style="float:right"><a href="#">{{user.username}}<span class="badge"></span></a></li> -->
<!--   <li><a href="#">{{question.createdAt}}<span class="badge"></span></a></li> -->
<!-- </ul> -->

  <div id="code-snippet-part">
    <div id="snippet2">
    Code Snippet:
    <br />
    {{question.codeSnippet}}
    <br />
  </div>
  </div>
  
  <br />
 <!--  <div class="alert alert-dismissable alert-warning"> -->
 <div id="github-link-wrapper">
   <div id="question-github-link">
    <!--   <button type="button" class="close" data-dismiss="alert">×</button> -->
      <h4>{{question.githubRepo}}</h4>
      <p> <a href="#" >The project codebase can be found in this repository.</a></p>
    </div>
   <!--  </div> -->
  </div>