<div id="main-question-part">
  <div class="well">
    <h1>{{question.title}}</h1>
      <p>{{question.description}}</p>
        <div id="snippet2"> Code Snippet:  <br />{{question.codeSnippet}}<br />
  </div>
  <p>Clone this GitHub repo: {{question.githubRepo}}</p>
  <p id="created-at">Posted {{question.createdAt|timeago}}</p>
  <p id="author">Author: {{username}}<p>


<!-- <ul class="nav nav-pills"> -->

    <div style="float:left; padding: 10px; vertical-align: middle;"><a href="" class="btn btn-success">{{question.views}}</a><p>Views</p></div>
    <div ng-click="upVoteQuestion(question)" style="float:left; padding: 10px;vertical-align: middle;"><a href="" class="btn btn-success">{{question.votes}}</a><p>Votes</p></div>
    <div style="float:left; padding: 10px;vertical-align: middle;"><a href="" class="btn btn-success">{{replies.length}}</a><p>Videos</p></div>

<!-- hidden data for extension -->
  <input class="btn btn-default" id="currentUser" type="hidden" value="james">
  <input class="btn btn-default" id="numAnswers" type="hidden" value={{replies.length}}>
  <input class="btn btn-default" id="questionId" type="hidden" value={{question.id}}> 
</div>
<!--   <button class="btn btn-default" id="downloadExtension" type="hidden">Download Extension</button> -->
<!--   <button class="btn btn-default" id="reply" type="button">Reply</button> -->
<!-- <br /> -->
<!-- <div ng-cloak class="alert alert-dismissable alert-warning">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h4>{{question.githubRepo}}</h4> -->
<!--   <p> <a href="#" class="alert-link">The project codebase can be found in this repository.</a>.</p> -->
<div id="videos-part">
  <h2>Answers: </h2><br>
  <ul id="videos">
    <li ng-repeat="reply in replies">
<!--       <p>{{reply.link}}</p> -->
      <video width="320" height="240" controls ng-src={{reply.link}} ></video>
      <p>Posted: {{reply.createdAt|timeago}}<p>
    </li>
  </ul>
</div>

 <!--  <br />
<!--   <br /> -->
 <!--  <div class="alert alert-dismissable alert-warning"> -->
 <div id="github-link-wrapper">
   <div id="question-github-link">
    <!--   <button type="button" class="close" data-dismiss="alert">×</button> -->
      <h4>{{question.githubRepo}}</h4>
      <p> <a href="#" >The project codebase can be found in this repository.</a></p>
    </div>
   <!--  </div> -->
  </div>
</div>