<p>This is the register view.</p>

<div ng-controller="LoginCtrl">

<!--   <form>

    <input type="text" ng-model="firstName" placeholder="firstName">
    </br>
    <input type="text" ng-model="lastName" placeholder="lastName">
    </br>
    <input type="text" ng-model="username" placeholder="username">
    </br>
    <input type="password" ng-model="password" placeholder="password">
    <button value="submit" data-ng-click="register()">Register</button>

  </form> -->
    <ul class="nav navbar-nav pull-right" ng-if="!isAuthenticated()">
        <button ng-click="login('github')">Sign in with GitHub</button>
    </ul>
    <ul class="nav navbar-nav pull-right" ng-if="isAuthenticated()">
      <button ng-click="logout()">Log out</button>
    </ul>
</div>
