<h1 id="questions-title">Unanswered Questions</h1>


    <div  ng-controller="UnansweredquestionsCtrl">


      Order By:
      <select ng-model="sortorder" class="input-small">
          <option selected value="-views">Views</option>
          <option value="-votes">Votes</option>
      </select>

<input type="text" style="float:right;" ng-model="query" placeholder="Search">
</br>
  </br>
      <ul class="thumbnails" id="question-snippets">
        <li ng-repeat="question in questions | orderBy:sortorder| filter:query">
          <div class="question-display">
            <div class="well span9">
              <a href="#/question/{{question.id}}" ng-click="upViewQuestion(question)" class="well-title" id="question-title">{{question.title}}</a>
            
              <br>
             <!--  <p>{{question.description}}</p>
              <p id="created-at">Posted at: <br>{{question.createdAt}}
                <br>

                By: {{question.UserId}}</p>

                By: {{question.UserId}}</p>  --> 
              <div style="float:left; padding: 10px; vertical-align: middle;"><a href="" class="btn btn-success">{{question.views}}</a><p>Views</p></div>
              <div ng-click="upVoteQuestion(question)" style="float:left; padding: 10px;vertical-align: middle;"><a href="" class="btn btn-success">{{question.votes}}</a><p>Votes</p></div>
             <div style="float:left; padding: 10px;vertical-align: middle;"><a href="" class="btn btn-success">{{0}}</a><p>Videos</p></div>

<!--               <a href="#/question/{{question.id}}" ng-click="upViewQuestion(question)" class="well-title">{{question.title}}</a> -->
             <!--  <h6 style="margin-top:-10px">{{question.userId}}</h6> -->
              <!-- <span>Author: {{question.UserId}}</span><br/> -->
             <!--   <p>{{question.lastReply}}</p> -->
              <!-- <h6 style="margin-top:-10px">{{question.UserId}}</h6> -->
       <!--        <span id="question-author">Author: {{question.UserId}}</span><br/> -->
              <!--  <p id="question-lastreply">{{question.lastReply}}</p>
               <br /> -->
             <!--  <div class="row"> -->
            <!--   <div ng-repeat="tag in question.tags">
                <a style="float:right; padding: 5px; margin: 5px; vertical-align: middle;" href="" class="btn btn-primary btn-xs">{{tag.name}}</a>
              </div> -->


              </div>
            </div>
        </li>
      </ul>

    </div>
  </div>